extends layout


block title
  div.hero-unit
    h2 Nom Feed
    h4 Look at (mostly) delicious things people are eating
    
block content
  #content
    p#msg.span6.lead waiting for people to eat and tweet...